<!-- FOOTER -->
        <footer class="footer pt-80">
            <div class="container">
                <div class="row mb-60">
                    <%= render 'static_pages/footer/logo' %>
                    <%= render 'static_pages/footer/newsletter' %>
                    <%= render 'static_pages/footer/social' %>
                </div>
                <%= render 'static_pages/footer/footer_info' %>
            </div>

            <hr />
        </footer>
<!-- END FOOTER -->