<!-- Logo -->
                    <div class="col-md-3 col-sm-3 mb-xs-30">
                        <a class="footer-logo" href="/">
                            <img src="img/full/audisea.png" /></a>
                    </div>
<!-- Logo -->