<!-- Newsletter -->
                    <div class="col-md-4 col-sm-5 mb-xs-30">
                        <div class="newsletter">
                            <!--<form>
                                <input type="email" class="newsletter-input input-md newsletter-input mb-0" placeholder="Enter Your Email">
                                <button class="newsletter-btn btn btn-xs btn-white" type="submit" value=""><i class="fa fa-angle-right mr-0"></i></button>
                            </form> -->
                        </div>
                    </div>
<!-- End Newsletter -->