<!-- Intro -->
        <section id="intro" class="intro">
            <!-- Static Intro -->
            <div class="bg-image overlay-dark dark-bg bg-fixed" data-background-img="img/full/08.jpg">
                <div class="js-fullscreen-height container">
                    <div class="intro-content">
                        <div class="intro-content-inner">
                            <h5>The Digitel Agency</h5>
                            <h2 class="h2">Mazel Creative Agency</h2>
                            <div class="row">
                                <p class="lead col-md-6 offset-md-3">e natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento</p>
                            </div>
                            <br>
                            <div><a class="btn btn-md btn-white-line xs-hidden">Read More</a><span class="btn-space-10 xs-hidden"></span><a class="btn btn-md btn-white">Learn More</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Static Intro -->
        </section>
<!-- End Intro -->