<!-- Dropdown -->
                            <ul class="sub-dropdown dropdown">
                                <li><%= link_to "About Us", about_path%></li>
                                <li><%= link_to "Services", services_path%></li>
                                <li><%= link_to "Contact Us", contact_path%></li>
                                <li><%= link_to "FAQ", faq_path%></li>
                                <li><a href="pricing.html">Pricing</a></li>
                            </ul>
<!-- End Dropdown -->