<!-- Dropdown -->
                            <ul class="sub-dropdown dropdown">
                                <li>
                                    <a class="menu-has-sub">Grid <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="blog-grid-2col.html">2 Columns</a></li>
                                        <li><a href="blog-grid-2col-sidebar.html">2 Columns - sidebar</a></li>
                                        <li><a href="blog-grid-3col.html">3 Columns</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">Masonry <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="blog-masonry-2col.html">2 Columns</a></li>
                                        <li><a href="blog-masonry-2col-sidebar.html">2 Columns - sidebar</a></li>
                                        <li><a href="blog-masonry-3col.html">3 Columns</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">One Columns <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="blog-1col.html">no-sidebar</a></li>
                                        <li><a href="blog-1col-sidebar.html">with sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">Blog Detail <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="blog-single-image-post.html">Image Post</a></li>
                                        <li><a href="blog-single-slider-post.html">Slider Post</a></li>
                                        <li><a href="blog-single-video-post.html">Video Post</a></li>
                                        <li><a href="blog-single-audio-post.html">Audio Post</a></li>
                                        <li><a href="blog-single-youtube-post.html">Youtube Post</a></li>
                                        <li><a href="blog-single-vimeo-post.html">Vimeo Post</a></li>
                                        <li><a href="blog-single-quote-post.html">Quote Post</a></li>
                                    </ul>
                                </li>
                            </ul>
<!-- End Dropdown -->