<!-- Dropdown -->
                            <ul class="sub-dropdown dropdown">
                                <li>
                                    <a class="menu-has-sub">Grid <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="portfolio-grid-2col.html">2 Columns</a></li>
                                        <li><a href="portfolio-grid-2col-no_spacing.html">2 Columns no-Spacing</a></li>
                                        <li><a href="portfolio-grid-3col.html">3 Columns</a></li>
                                        <li><a href="portfolio-grid-3col-no_spacing.html">3 Columns no-Spacing</a></li>
                                        <li><a href="portfolio-grid-4col.html">4 Columns</a></li>
                                        <li><a href="portfolio-grid-4col-no_spacing.html">4 Columns no-Spacing</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">Masonry <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="portfolio-masonry-2col.html">2 Columns</a></li>
                                        <li><a href="portfolio-masonry-2col-no_spacing.html">2 Columns no-Spacing</a></li>
                                        <li><a href="portfolio-masonry-3col.html">3 Columns</a></li>
                                        <li><a href="portfolio-masonry-3col-no_spacing.html">3 Columns no-Spacing</a></li>
                                        <li><a href="portfolio-masonry-4col.html">4 Columns</a></li>
                                        <li><a href="portfolio-masonry-4col-no_spacing.html">4 Columns no-Spacing</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">Wide <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="portfolio-wide-grid.html">Grid</a></li>
                                        <li><a href="portfolio-wide-grid-no_spacing.html">Grid no-Spacing</a></li>
                                        <li><a href="portfolio-wide-masonry.html">Masonry</a></li>
                                        <li><a href="portfolio-wide-masonry-no_spacing.html">Masonry no-Spacing</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">Classical <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="portfolio-classical-spacing.html">Spacing</a></li>
                                        <li><a href="portfolio-classical-no_spacing.html">no-Spacing</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">Lightbox <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="portfolio-lightbox-grid.html">Grid</a></li>
                                        <li><a href="portfolio-lightbox-masonry.html">Masonry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="menu-has-sub">Single <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-dropdown">
                                        <li><a href="portfolio-single1.html">Single 1</a></li>
                                        <li><a href="portfolio-single2.html">Single 2</a></li>
                                        <li><a href="portfolio-single3.html">Single 3</a></li>
                                        <li><a href="portfolio-single4.html">Single 4</a></li>
                                        <li><a href="portfolio-single5-slider.html">Single 5 - Slider</a></li>
                                        <li><a href="portfolio-single6-video.html">Single 6 - Video</a></li>
                                        <li><a href="portfolio-single7-youtube.html">Single 7 - youtube</a></li>
                                        <li><a href="portfolio-single8-vimeo.html">Single 8 - vimeo</a></li>
                                    </ul>
                                </li>
                            </ul>
<!-- End Dropdown -->