<!-- Header -->
        <header id="header" class="header">
            <div class="container header-inner">
            <%= render 'static_pages/header/logo' %>
            <%= render 'static_pages/header/mobile_navbar' %>
            <%= render 'static_pages/header/navbar/navbar' %>
            </div>
        </header>
<!-- End Header -->