<!-- Logo -->
    <div class="logo">
        <a href="/">
            <img class="logo-light" src="img/logo-white.png" alt="Mazel" />
            <img class="logo-dark" src="img/logo-black.png" alt="Mazel" />
        </a>
    </div>
<!-- End Logo -->