<!-- Rightside Menu (Search, Cart, Bart icon) -->
                <div class="side-menu-btn">
                    <ul>
                        <!-- Search Icon -->
                        <li class="">
                            <a class="search-overlay-menu-btn header-icon"><i class="fa fa-search"></i></a>
                        </li>
                        <!-- End Search Icon -->

                        <!-- Cart Icon -->
                        <li class="cart">
                            <a class="header-icon" href="shop-checkout.html">
                                <i class="fa fa-shopping-cart"></i>
                                <div class="cart-notification-wrap"><span class="cart-notification">2</span></div>
                            </a>
                            <!-- Cart Dropdown -->
                            <div class="cart-dropdown">
                                <ul class="cart-list">
                                    <li class="light-color">
                                        <a class="close-cart-list"><i class="fa fa-times-circle"></i></a>
                                        <div class="media">
                                            <a class="pull-left">
                                                <img src="img/product/02.jpg" alt="fashion" /></a>
                                            <div class="media-body">
                                                <h6><a>Fashion Model New /01</a></h6>
                                                <p>$399.00</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="light-color">
                                        <a class="close-cart-list"><i class="fa fa-times-circle"></i></a>
                                        <div class="media">
                                            <a class="pull-left">
                                                <img src="img/product/06.jpg" alt="fashion" /></a>
                                            <div class="media-body">
                                                <h6><a>Fashion Model New /02</a></h6>
                                                <p>$399.00</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p class="cart-sub-totle"><span class="pull-left">Cart Subtotal</span><span class="pull-right totle"><strong>$798.00</strong></span></p>
                                <div class="clearfix"></div>
                                <div class="cart-checkout-btn">
                                    <a href="shop-checkout.html" class="btn btn-md btn-color-b form-full checkout">Checkout</a>
                                </div>
                            </div>
                            <!-- End Cart Dropdown -->
                        </li>
                        <!-- End Cart Icon -->

                        <!--Sidebar Menu Icon-->
                        <li class="">
                            <a id="menu-sidebar-list-icon" class="nav-bar-icon"><span></span></a>
                        </li>
                        <!-- End Sidebar Menu Icon-->
                    </ul>
                </div>
<!-- End Rightside Menu -->