<section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Audisea</h3>
                        <p class="lead">Created to be an all-encompassing body for everything audio - from simple edits to full production - we're here to help keep you from drowning in the WAVs.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Each of our team members has studied their craft for years! </p><p>With team members hailing from New York University, and the University of Miami, we're well-equipped to consult, produce, record, edit, mix, and master your projects!</p><p>No request is too small, no task is too large!</p>
                    </div>
                </div>
            </div>
</section>