<section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Audisea</h3>
                        <p class="lead">A combination of audio and the sea, created to be an all encompasing service for everything audio. From simple edits, to full production we're happy to help you with anything audio related!</p>
                    </div>
                    <div class="col-md-6">
                        <p>Each of our team members has studied their craft for years and many have the degrees to prove it! </p><p>With graduates hailing from New York Univeristy, and the University of Miami, we're well equipped to consult, produce, record, edit, mix, and master your projects!</p><p>No task is too small!</p>
                    </div>
                </div>

            </div>
</section>