<!-- Intro Section -->
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="img/full/vinyl.jpg">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">About Us</h2>
                    <div class="page-breadcrumb">
                        <a <%= link_to "Home", root_path%></a>/<span>About Us</span>
                    </div>
                </div>
            </div>
        </section>
<!-- End Intro Section -->