<!-- Statement Section -->
        <section class="dark-bg  ptb-60" id="statement">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="mb-15">Pellentesque eu pretium quis adipiscing sem?</h4>
                        <a class="btn btn-md btn-white">Buy this Theme</a>
                    </div>
                </div>
            </div>
        </section>
<!-- End Statement Section -->