<!-- Team -->
        <section class="pb pb-sm-80">
            <div class="container">
                <!--Team Carousel -->
                <div class="row">
                    <div class="owl-carousel team-carousel nf-carousel-theme">
                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="img/team/mike.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Michael Amorello</h5>
                                            <p>Graduate of the University of Miami with a degree in Audio Engineering. Acoustician, engineer, mixer.</p>
                                            <!-- <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>Michael Amorello</h5>
                                    <p class="">Acoustic Engineer</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="img/team/liam.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Liam Sykes</h5>
                                            <p>Graduate of New York University with a degree in Music Technology. Audio producer, editor, recorder.</p>
                                            <!-- <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>Liam Sykes</h5>
                                    <p class="">Producer/Editor/Artist</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="img/team/josh.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Joshua Liebman</h5>
                                            <p>Graduate of New York University with a Masters in Music Technology. Recording Engineer, mixer, masterer.</p>
                                            <!-- <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>Joshua Liebman</h5>
                                    <p class="">Recording Engineer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="owl-carousel team-carousel nf-carousel-theme">
                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="img/team/rob.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Rob Nelsen</h5>
                                            <p>Graduate of New York University with a Bachelors in Music Technology. Producer and artist.</p>
                                            <!-- <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>Rob Nelsen</h5>
                                    <p class="">Producer/Artist</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="img/team/michael.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Michael Hagen</h5>
                                            <p>Graduate of New York University with a Bachelors in Music Technology. Audio technician.</p>
                                            <!-- <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>Michael Hagen</h5>
                                    <p class="">Audio Technician</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Team Carousel --->
            </div>
        </section>
<!-- End Team -->