<!-- Accordion -->
<div class="accordion">
    <div class="accordion-section">
        <h6 class="accordion-title">How long until I hear from the team?</h6>
        <div class="accordion-content">
            <p>We guarantee a response within 24 hours!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">I want to build a studio on a tight budget, can you help?</h6>
        <div class="accordion-content">
            <p>We'll guide you through the best steps to meet your goals no matter the size!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Can you help me soundproof my room?</h6>
        <div class="accordion-content">
            <p>We can help you with the various options that exist for sound isolation, construction of walls, and doors!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Can I make my air conditioning quieter?</h6>
        <div class="accordion-content">
            <p>Air conditioning is a tricky one, but a necessity for keeping your gear in top shape! With pictures and sketches of your layout and equipment we can provide a solution to make a quiet HVAC system!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">I dont have a lot of space to make a studio, what do I do?</h6>
        <div class="accordion-content">
            <p>We'll walk through your musical and recording goals and help you establish the most effective use of your available space!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Can you help me setup the patchbay for my studio?</h6>
        <div class="accordion-content">
            <p>Absolutely! We'll work with you to make sure your studio makes sense for your work ethic!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Can you guys help me repair a broken peice of equipment?</h6>
        <div class="accordion-content">
            <p>If you're located in the New York City are we can absolutely help in person! Otherwise we would be able to talk you through the process over the phone or via video chat!</p>
        </div>
    </div>
</div>
<!-- End Accordion -->