<!-- Accordion -->
<div class="accordion">
    <div class="accordion-section">
        <h6 class="accordion-title">How long until I hear from the team?</h6>
        <div class="accordion-content">
            <p>We guarantee a response in 2 days!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Can I expedite my project?</h6>
        <div class="accordion-content">
            <p>Certain projects can be done quicker than others, depending on the creativity needed for your particular job will determine the timeframe. However, bear in mind that expedition fees may be applied.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">What file types do you accept?</h6>
        <div class="accordion-content">
            <p>We want your audio to be as crisp and clean as possible which is why we only work with WAV, FLAC, MP4, or 320kbps MP3 files.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Do we need to source our own files?</h6>
        <div class="accordion-content">
            <p>We prefer that you source your own music, however if you need us to find the proper files for you, we can. Please keep in mind that this will built into the price.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">How do I tell you where to edit?</h6>
        <div class="accordion-content">
            <p>Everyone looks at their music differently. If you would like your music edited between a certain time range you can certainly specify that! Bear in mind that at the end of the day we will make sure the edit is timed correctly and is a seamless transition!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Can you mix more than one song together?</h6>
        <div class="accordion-content">
            <p>Yes we can! This can be a bit tricky at times because there are a lot of moving parts. Some things you should always keep in mind when requesting songs to be mixed together: tempo, key, and style! The more drastically these things differ, the more difficult it will be to keep the overall feel of the piece! </p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">What if I don’t know where I want the music edited?</h6>
        <div class="accordion-content">
            <p>We take each project very seriously, being musicians ourselves we want the music to keep its magic while still being tailored to your needs. If you don't know where you would like your song edited just give us the length it needs to be and we'll make sure that the song remains seamless!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Is there a discount for multiple song edits?</h6>
        <div class="accordion-content">
            <p>Each edit is priced based on the requirements needed to edit it, however if you are having multiple songs edited we do have a bulk discount!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">What if I don't like the edit when I receive it?</h6>
        <div class="accordion-content">
            <p>Your satisfaction is guaranteed! We always make sure that the edits are to your satisfaction, if you don't like something about it, please let us know and we can get to work on fixing it for you!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Can you mix more than one song together?</h6>
        <div class="accordion-content">
            <p>Yes we can! This can be a bit tricky at times because there are a lot of moving parts. Some things you should always keep in mind when requesting songs to be mixed together: tempo, key, and style! The more drastically these things differ, the more difficult it will be to keep the overall feel of the piece! </p>
        </div>
    </div>
</div>
<!-- End Accordion -->