<!-- Accordion -->
<div class="accordion">
    <div class="accordion-section">
        <h6 class="accordion-title">How long until I hear from the team?</h6>
        <div class="accordion-content">
            <p>We guarantee a response within 24 hours!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Do you have to record the project in order to mix or master it?</h6>
        <div class="accordion-content">
            <p>Not at all! As long as you have the stems for the project, we can asbolutely work with them!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">What file formats do you accept?</h6>
        <div class="accordion-content">
            <p>We want your projects to be as clean as possible, so if we are mixing or mastering your projects we only accept lossless file formats. (WAV, FLAC, or ALAC)</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Do you only work on certain genre's of music?</h6>
        <div class="accordion-content">
            <p>Our team covers all genres! We've worked on projects ranging from Classical Music all the way to Hip Hop!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">What are your rates?</h6>
        <div class="accordion-content">
            <p>Rates are dependent on a certain set of criteria including what you need mixed and/or mastered. Once we have a better idea of what you're looking for we'll be able to get a quote set up for you!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">What if the final version doesn't meet my expectations?</h6>
        <div class="accordion-content">
            <p>Our goal is to make sure you are satisfied with the end result! This may require some adjustments after final review!</p>
        </div>
    </div>
</div>
<!-- End Accordion -->