<!-- Accordion -->
<div class="accordion">
    <div class="accordion-section">
        <h6 class="accordion-title">How long until I hear from the team?</h6>
        <div class="accordion-content">
            <p>We guarantee a response within 24 hours!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Can I expedite my project?</h6>
        <div class="accordion-content">
            <p>Certain projects can be done quicker than others, depending on the creativity needed for your particular job will determine the timeframe.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Can you produce a backing track for a short video?</h6>
        <div class="accordion-content">
            <p>Absolutely! As soon as we have an idea on the direction of the project we can get to work!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Do we need to have a rough draft of what we want?</h6>
        <div class="accordion-content">
            <p>If you know where you want the track to go we can absolutely produce something specific to the direction you would like! If not we're more than happy to sit down and talk about songs you like, and determine the best direction for your project!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Do you only create electronic works?</h6>
        <div class="accordion-content">
            <p>Our producers are mainly focused on electronic music, comprising of sythesizers, and sample based music, however do have the ability to incorporate acoustic and analog instruments into your work if you would like!</p>
        </div>
    </div>
</div>
<!-- End Accordion -->