<!-- Accordion -->
<div class="accordion">
    <div class="accordion-section">
        <h6 class="accordion-title">How long until I hear from the team?</h6>
        <div class="accordion-content">
            <p>We guarantee a response in 2 days!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Can I expedite my project?</h6>
        <div class="accordion-content">
            <p>Certain projects can be done quicker than others, depending on the creativity needed for your particular job will determine the timeframe. However, bear in mind that expedition fees may be applied.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">What file types do you accept?</h6>
        <div class="accordion-content">
            <p>We want your audio to be as crisp and clean as possible which is why we only work with WAV, FLAC, MP4, or 320kbps MP3 files.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Do we need to source our own files?</h6>
        <div class="accordion-content">
            <p>We prefer that you source your own music, however if you need us to find the proper files for you, we can. Please keep in mind that this will built into the price.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">I'm an illustrator, but don't feel confident in my writing skills. Should I do a dummy?</h6>
        <div class="accordion-content">
            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">I'm a writer, not an illustrator. Do I need a dummy?</h6>
        <div class="accordion-content">
            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">But, WHY can't I find my own artist?</h6>
        <div class="accordion-content">
            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">How will I be able to direct the artist?</h6>
        <div class="accordion-content">
            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">I've just written my first children's book. I can't draw?</h6>
        <div class="accordion-content">
            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel</p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.</p>
        </div>
    </div>
</div>
<!-- End Accordion -->