<!-- Accordion -->
<div class="accordion">
    <div class="accordion-section">
        <h6 class="accordion-title">How long until I hear from the team?</h6>
        <div class="accordion-content">
            <p>We guarantee a response within 24 hours!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Do you have a recording studio?</h6>
        <div class="accordion-content">
            <p>We are partnered with a boutique studio based in Brooklyn, NY.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Do you record outside of the New York area?</h6>
        <div class="accordion-content">
            <p>At the moment, the majority of our contacts reside in the New York area, however we are more than happy to assist if you need something recorded! We can record somthing in New York and send the files to you when they are done!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">I need to record a large band, can you help me with that?</h6>
        <div class="accordion-content">
            <p>Our main studio is a small boutique studio, however we do have connections to larger studios in the Greater New York City area! Just let us know what you need and we can get to booking!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">What are your rates?</h6>
        <div class="accordion-content">
            <p>Rates are dependent on a certain set of criteria including what you need recorded and your studio needs. Once we have a better idea of what you're looking for we'll be able to get a quote set up for you!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Do you have session musicians?</h6>
        <div class="accordion-content">
            <p>Every one of our team members has a background in the music industry. Throughout our journey we have made connections with various musicians who would be happy to perform on your recording! Let us know what you're looking for and we'll see what we can do!</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Is mixing included in the recording session?</h6>
        <div class="accordion-content">
            <p>Unless requested, we don't build mixing into our recording rates.</p>
        </div>
    </div>
    <div class="accordion-section">
        <h6 class="accordion-title">Do you record things other than music?</h6>
        <div class="accordion-content">
            <p>While the majority of our recordings are for musicians, we've also done work for podcasts, films, and various other projects!</p>
        </div>
    </div>
</div>
<!-- End Accordion -->