<!-- Content Slider Section -->
    <section id="contant" class="wow fadeIn ptb ptb-sm-80">
        <div class="owl-carousel content-carousel content-slider">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-sm-30">
                            <img src="img/full/faders.jpg" alt="" />
                        </div>
                        <div class="col-md-5 offset-md-1">
                        	<h3>Editing</h3>
                            <div class="spacer-15"></div>
                            <p>Our editing team has been augmenting audio for almost 2 decades. Growing up in an artistic environement, our cheif editor has been transforming music from a very young age. With clients ranging from independent artists, all the way to professional studio owners, we've never had a bad edit!</p>
                            <div class="spacer-15"></div>
                            <a class="btn btn-md btn-black" href="/contact">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 mb-sm-30">
                            <h3>Recording</h3>
                            <div class="spacer-15"></div>
                            <p>Operating mostly out of the greater New York City area, we have a large selection of recording studios at our disposal. Our head engineer co-owns and operates a boutique studio in Brooklyn, and we have additional contacts in larger studios!</p>
                            <p>Our recording team has worked on projects that vary from independent records and albums, to podcasts and film projects!</p>
                            <div class="spacer-15"></div>
                            <a class="btn btn-md btn-black" href="/contact">Contact Us</a>
                        </div>
                        <div class="col-md-6 offset-md">
                            <img src="img/full/microphone.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-sm-30">
                            <img src="img/full/mixing.jpg" alt="" />
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <h3>Mixing & Mastering</h3>
                            <div class="spacer-15"></div>
                            <p>In addition to being able to record your tracks and projects, we also have the ability to mix and master them when they are done!</p>
                            <p>We consider mixing to be an art, not a science. Whether you're releasing a single on Soundcloud, or an Album for Columbia Records, we'll make sure your tunes sound clean and artistic.</p>
                            <p>Once the mixing process is done, we can bring it over to the mastering group. Here we polish your tracks and bring them up to their fullest potential!</p>
                            <div class="spacer-15"></div>
                            <a class="btn btn-md btn-black" href="/contact">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 mb-sm-30">
                            <h3>Audio Consulting</h3>
                            <div class="spacer-15"></div>
                            <p>Each team member is well versed in various aspects of the audio industry. Whether you're looking for help with constructing your studio, laying out your patchbay, or acoustically treating your rooms. Our team is ready to get down to the nitty gritty to help you have the best acoustic environment possible!</p>
                            <div class="spacer-15"></div>
                            <a class="btn btn-md btn-black" href="/contact">Contact Us</a>
                        </div>
                        <div class="col-md-6 offset-md-1">
                            <img src="img/full/treatment.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-sm-30">
                            <img src="img/full/modular_synth.jpg" alt="" />
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <h3>Audio Production</h3>
                            <div class="spacer-15"></div>
                            <p>Our team of producers are experts at taking the beignnings of a song and turning it into something special! They have worked for years to create unique compositions for themselevs and others!</p>
                            <div class="spacer-15"></div>
                            <a class="btn btn-md btn-black" href="/contact">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
<!-- End Contain Slider Section -->