<!-- Contact Section -->
<section class="ptb ptb-sm-80">
    
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Get In Touch</h3>
                <p class="lead">Let the sea set you free.</p>
                <a href="mailto:info@audisea.io"><i class="fa fa-envelope-o left"></i>info@audisea.io</a><br />
            </div>
</section>
<!-- Contact Section -->