<div class="spacer-75"></div>
        <div class="row">
            <div class="col-md-5 contact">
                <div class="contact-box-left mb-45">
                    <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                    <h6>Additional info</h6>
                    <p>
                        New York, NY
                    </p>
                    <a href="mailto:info@audisea.io"><i class="fa fa-envelope-o left"></i>info@audisea.io</a><br />
                </div>
                <div class="contact-box-left mb-45">

                    <!-- <h6>Follow Us</h6>
                    <ul class="list-none social">
                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://vimeo.com/" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
                        <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
            <!---  render 'static_pages/contact/contact_form' --->
            </div>
        </div>