<!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h3 class="h4">About Audisea</h3>
                        <div class="spacer-15"></div>
                        <p class="lead">We are a collective of musicians and engineers that want to use our skills and expertise to help you with all of your audio needs.</p>
                    </div>
                </div>
                <div class="row mt-80">
                    <!-- Welcome Content -->
                    <div class="col-md-7 mb-30">
                        <h4>WE`RE ARTISTS.</h4>
                        <div class="spacer-15"></div>
                        <p>Audio is our passion, we've worked hard in our field to bring high-fidelity solutions to your audio problems.</p>
                        <div class="spacer-15"></div>
                        <a class="btn-link-a">More About</a>
                    </div>
                    <!-- End Welcome Content -->

                    <!-- Skills -->
                    <div class="col-md-5">
                        <div class="skillbar" data-percent="85%">
                            <div class="skillbar-title">Audio Editing</div>
                            <div class="skill-bar-percent">85%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="80%">
                            <div class="skillbar-title">Audio Production</div>
                            <div class="skill-bar-percent">80%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="40%">
                            <div class="skillbar-title">Audio Consulting</div>
                            <div class="skill-bar-percent">40%</div>
                            <div class="skillbar-bar"></div>
                        </div>

                        <div class="skillbar" data-percent="70%">
                            <div class="skillbar-title">Studio Consulting</div>
                            <div class="skill-bar-percent">70%</div>
                            <div class="skillbar-bar"></div>
                        </div>
                    </div>
                    <!-- End Skills -->
                </div>
            </div>
        </section>
<!-- End About Section-->