<!-- Counter Section -->
        <section id="counter" class="overlay-dark80 light-color ptb-80" style="background-image: url('img/full/synth.jpg');" data-stellar-background-ratio="0.75">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3 mb-sm-30">
                        <h1 class="counter" data-count="59">0</h1>
                        <h6>awards</h6>
                    </div>
                    <div class="col-md-3 mb-sm-30">
                        <h1 class="counter" data-count="23">0</h1>
                        <h6>Clients</h6>
                    </div>
                    <div class="col-md-3 mb-sm-30">
                        <h1 class="counter" data-count="5">0</h1>
                        <h6>Team Members</h6>
                    </div>
                    <div class="col-md-3 mb-sm-30">
                        <h1 class="counter" data-count="177">0</h1>
                        <h6>Projects</h6>
                    </div>
                </div>
            </div>
        </section>
<!-- End Counter Section -->