<!-- Features -->
        <section id="features" class="ptb ptb-sm-80">
            <div class="container text-center">
                <h3 class="mt-sm">Key Features</h3>
                <p class="lead">Fully Responsive & Mobile Ready</p>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="wow fadeInLeft col-md-4 pt-80 pt-sm-0">
                        <div class="features-box-right">
                            <div class="features-icon-right"><i class="ion ion-ios-monitor-outline"></i></div>
                            <h5>bootstrap 4</h5>
                            <p>Consectetuer Adipiscing elit Aenean commodo Ligula dolor.</p>
                        </div>
                        <div class="features-box-right">
                            <div class="features-icon-right"><i class="ion ion-ios-videocam-outline"></i></div>
                            <h5>html 5 video</h5>
                            <p>Nullam dictum felis eu pede mollis pretium leo eget bibendum sodales augue velit cursus.</p>
                        </div>
                        <div class="features-box-right">
                            <div class="features-icon-right"><i class="ion ion-ios-barcode-outline"></i></div>
                            <h5>Clean code & design</h5>
                            <p>tellus eget condimentum rhoncus sem quam semper libero.</p>
                        </div>
                        <div class="features-box-right">
                            <div class="features-icon-right"><i class="ion ion-ios-albums-outline"></i></div>
                            <h5>Unlimited layouts</h5>
                            <p>Donec sodales sagittis magna. Sed consequat.</p>
                        </div>

                    </div>
                    <div class="wow fadeIn col-md-4 hidden-sm hidden-xs text-center">
                        <img src="img/moc-3.png" />
                    </div>
                    <div class="wow fadeInRight col-md-4 pt-80 pt-sm-0">
                        <div class="features-box-left">
                            <div class="features-icon-left"><i class="ion ion-ios-compose-outline"></i></div>
                            <h5>Flexible & Customizable</h5>
                            <p>Donec vitae sapien ut libero venenatis faucibus.</p>
                        </div>
                        <div class="features-box-left">
                            <div class="features-icon-left"><i class="ion ion-ios-eye-outline"></i></div>
                            <h5>Multi Concept & Mutli prapose Theme</h5>
                            <p>Quisque rutrum. Aenean imperdiet Etiam ultricies nisi.</p>
                        </div>
                        <div class="features-box-left">
                            <div class="features-icon-left"><i class="ion ion-ios-paper-outline"></i></div>
                            <h5>Well Documented</h5>
                            <p>Aenean vulputate eleifend tellus Aenean leo ligula porttitor.</p>
                        </div>
                        <div class="features-box-left">
                            <div class="features-icon-left"><i class="ion ion-ios-chatbubble-outline"></i></div>
                            <h5>Friendly Support</h5>
                            <p>Phasellus viverra nulla ut metus laoreet Quisque rutrum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- End Features -->
