<!-- Intro -->
        <section id="intro" class="intro">
            <!-- Static Intro -->
            <div class="bg-image overlay-light dark-bg bg-fixed" data-background-img="img/full/audisea.png">
                <div class="js-fullscreen-height container">
                    <div class="intro-content">
                        <div class="intro-content-inner">
                            <!-- <h2 class="h2">Audisea</h2>
                            <div class="row">
                                <p class="lead col-md-6 offset-md-3">We listen, so you don't have to.</p>
                            </div>
                            <br> -->
                            <div><a class="btn btn-md btn-white-line xs-hidden" href="/about">Learn More</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Static Intro -->
        </section>
<!-- End Intro -->