<!-- Service Section -->
        <section id="service" class="ptb ptb-sm-80">
            <div class="wow fadeInLeft container text-center">
                <h3>Our Services</h3>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                        <h5>Audio Editing</h5>
                        <p>Transforming songs into they way you envisioned them. Whether it be for a dance, class, project, or general listening.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-pulse"></i></div>
                        <h5>Audio Production</h5>
                        <p>Creating and producing a song or piece of music specifically tailored to your needs.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-people-outline"></i></div>
                        <h5>Audio Consulting</h5>
                        <p>Studio construction, acoustic treatment, or general layout for audio equipment.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-recording-outline"></i></div>
                        <h5>Recording</h5>
                        <p>Recording vocals, instruments, or any sounds you may need for a sample pack, album, or general use.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-settings"></i></div>
                        <h5>Mixing</h5>
                        <p>Blending each track of a recording to sound clean and artistic.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-volume-high"></i></div>
                        <h5>Mastering</h5>
                        <p>Everyone likes it loud</p>
                    </div>
                </div>
            </div>
        </section>
<!-- End Service Section -->