<!-- Shop Item -->
        <section id="shop-item" class="pt pt-sm-80">
            <div class="container text-center">
                <h3>Latest Product</h3>
                <div class="spacer-60"></div>
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="item-img">
                                    <img src="img/product/07.jpg" />
                                </div>
                                <div class="item-mask">
                                    <div class="item-mask-detail">
                                        <div class="item-mask-detail-ele">
                                            <a class="btn btn-line-xs btn-white-line"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Shop item images -->

                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <a href="shop-detail.html">
                                    <h6 class="shop-item-name">Veritatis et quasi</h6>
                                </a>
                                <div class="shop-item-price"><span>$399.00</span></div>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="item-img">
                                    <img src="img/product/01.jpg" />
                                </div>
                                <div class="item-mask">
                                    <div class="item-mask-detail">
                                        <div class="item-mask-detail-ele">
                                            <a class="btn btn-line-xs btn-white-line"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Shop item images -->

                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <a href="shop-detail.html">
                                    <h6 class="shop-item-name">Sed fringilla mauris</h6>
                                </a>
                                <div class="shop-item-price"><span>$399.00</span></div>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="item-img">
                                    <img src="img/product/02.jpg" />
                                </div>
                                <div class="item-mask">
                                    <div class="item-mask-detail">
                                        <div class="item-mask-detail-ele">
                                            <a class="btn btn-line-xs btn-white-line"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Shop item images -->

                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <a href="shop-detail.html">
                                    <h6 class="shop-item-name">Beatae vitae dicta</h6>
                                </a>
                                <div class="shop-item-price"><span>$399.00</span></div>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="item-box">
                            <!-- Shop item images -->
                            <div class="shop-item">
                                <div class="item-img">
                                    <img src="img/product/03.jpg" />
                                </div>
                                <div class="item-mask">
                                    <div class="item-mask-detail">
                                        <div class="item-mask-detail-ele">
                                            <a class="btn btn-line-xs btn-white-line"><i class="fa fa-shopping-cart"></i>Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Shop item images -->

                            <!-- Shop item info -->
                            <div class="shop-item-info">
                                <a href="shop-detail.html">
                                    <h6 class="shop-item-name">Voluptas nulla pariatur</h6>
                                </a>
                                <div class="shop-item-price"><span>$399.00</span></div>
                            </div>
                            <!-- Shop item info -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
<!-- End Shop Item -->