<!-- Statement Section -->
        <section id="statement" class="bg-img19 overlay-dark80 dark-bg ptb ptb-sm-80">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <a class="cbox-iframe" href="http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&amp;wmode=transparent">
                            <div class="page-icon-top"><i class="ion ion-ios-film-outline"></i></div>
                        </a>
                        <h4 class="mb-15">Ready to get to work?</h4>
                        <a class="btn btn-md btn-white" href="/contact">Contact Us</a>
                        <div class="spacer-15"></div>
                        <a class="cbox-iframe btn btn-md btn-white" href="http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&amp;wmode=transparent">Watch Video</a>
                    </div>
                </div>
            </div>
        </section>
<!-- End Statement Section -->