<!-- Testimonials -->
        <section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('img/full/mixer.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" First rate, quality service. Smart, accurate and precise. "</p>
                            <h6 class="quote-author">Scott F.</h6>
                            <h6 <span style="font-weight: 400;">( Choreographer, Broadway Dancer, Actor )</span> </h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" I have used Liam for editing music for the choreography I set annually at my studio, Suncoast Academy of Dance.
                            His edits are seamless, he understands my needs regarding counts, tempo changes and length of track.  I find it easy to explain where I want my
                            edits via email when I send him my music.  Occasionally, Liam will suggest a different edit, and I have always been happily surprised with the outcome.

                            Liam has created an original piece for me as well, everytime the piece was performed, there was always a positive comment regarding my music choice! "</p>
                            <h6 class="quote-author">April S.</h6>
                            <h6 <span style="font-weight: 400;">( Dance Studio Owner )</span> </h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" Seamless and stress-free. Very attentive and detail oriented. I felt as if my project was a priority. "</p>
                            <h6 class="quote-author">Natalie P.</h6>
                            <h6 <span style="font-weight: 400;">( Dancer, Actress )</span> </h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" As a dance teacher and choreographer, I ALWAYS need music cut to specific lengths. This year, I needed a 5-minute song (with lots of layered instrumentation AND vocals) cut down to 2:40. Liam’s cuts were flawless and still maintained the integrity of the original song beautifully! He was also SO helpful and accommodating when I realized - once he had sent me the initial edit - he had cut something out that I hadn’t realized I would miss so much until it was gone. Upon this realization, he quickly and happily re-worked the edit for me, so that I could have the missing piece back! 11/10 would recommend! "</p>
                            <h6 class="quote-author">Cleo S.</h6>
                            <h6 <span style="font-weight: 400;">( Dancer, Choreographer )</span> </h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" Liam is a joy to work with. He is professional, efficient, and exceeds expectations. I am a professional choreographer, and dance teacher. Liam has assisted me from 2005-2018 with various projects in which I needed musical edits and counseling. I was always impressed with the ease and early completion of all my requests. Liam is dependable, talented and a pleasure to work with. I would recommend him to any colleagues needing his services. "</p>
                            <h6 class="quote-author">Lauren K.</h6>
                            <h6 <span style="font-weight: 400;">( Choreographer )</span> </h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- End Testimonials -->